{% extends 'customadmin/base_section.html' %}
{% block title %} Evyfy | Add Event {% endblock %}
{% block content %}
{% if user.is_staff or user.is_superuser %}
<br/>
<h2>Add New Event</h2>
<nbnps></nbnps>
<form method="POST">

    {% csrf_token %}
    
    {{ form.as_p }}
    
    
    <div class="modal-footer">
        <a href="{% url 'customadmin:admin-event-view' %}" class="btn btn-secondary"><i class="fa fa-backward"> Back </i></a>
        <button class="btn btn-secondary" type="reset"><i class="fa fa-undo"> Reset </i></button>
        <button class="btn btn-success" type="submit"><i class="fa fa-check"> Save </i></button>
        
      
</div>
   
</form>
<br/>
{% else %}
<center><h2>You are Not Authorized for add Event</h2></center>
{% endif %}
{% endblock %}

<br/>