{% extends 'customadmin/base_section.html' %}
{% block title %} Evyfy | Delete Event {% endblock %}



{% block content %}
<header class="list-header card mb-4">
    <div class="card-body clearfix">
      <div class="float-left">
        <h3 class="card-title">Are you sure ? </h3>
        <br/>
        <h5 class="card-title">Delete Event  - <h3>{{ object}}</h3></h5>
        <p class="card-subtitle text-muted">Are you sure...you want to delete "{{ object}}"?</p>
      </div>
<form method="post">
    {% csrf_token %}
     
  
     
     
    
        
    </form>

</div>
</header>
<button class="btn btn-danger" type="submit"> Yes </button>
    <a href="{% url 'customadmin:admin-event-view' %}" class="btn btn-secondary"> NO </a>
    
{% endblock %}