{% extends 'base.html' %}
{% block title %} Evyfy | Event list {% endblock %}
{% block content %}


<h1>Event List</h1>
<br />

<table class="table table-striped">
    <thead>

        <tr>
            <th scope="col" width="200">Name</th>
            <th scope="col" width="150">Artist</th>
            <th scope="col" width="150">Genre</th>
            <th scope="col" width="200">Event Date</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for event in event_list %}
        <tr>
            
        </tr>
        <tr>
            <th>{% if user.is_authenticated %}
                <a href="{% url 'customadmin:event-detail' event.pk %}">
                    <h4>{{event.name}}</h4>
                </a>
                {% elif not is_authenticated %}
                <a href="{% url 'customadmin:login' %}">
                    <h4>{{event.name}}</h4>
                </a>
                {% endif %}
            </th>
            <td scope="row">
                {% for artist in event.artist.all %}
                <a href="{% url 'customadmin:artist-detail' artist.pk %}">
                    <p>{{artist}}</p>
                </a>
                {%endfor%}
              </td>
            <td scope="row">{{event.genre}}</td>
            <td>{{event.eventDate}}</td>
            <td>{{event.description}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>


{% endblock %}