<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %} Evyfy | Price {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body {
  font-family: Arial, Helvetica, sans-serif;
}
* {box-sizing: border-box;}
#heading{
  color: black;
  padding-left: 32%;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}


input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
</style>
</head>

<body>
    {% include 'base.html' %}

    {% block content %}
    
    <form method="POST">
        {% csrf_token %}

        <h2 style="text-align:center">Event book page ready !!!</h2>
        <h3 style="text-align:center">Are you sure you want to proceed further ....!!!!</h3>
        <p style="text-align:center">your ticket will book as - {{request.user.first_name}} {{request.user.last_name}}</p>
            <br />
           
            <br/>
            <br/>
            

            {% if user.is_authenticated %}

            <label for="fname">First Name</label>
            {{request.user.first_name}}
            
            <br/>
            
            <label for="lname">Last Name</label>
            {{request.user.last_name}}
            <br/>
        
          
            <label for="uname">User Name</label>
            {{request.user.username}}
            <br/>

            <fieldset disabled>
                <div class="form-group">
                  <label for="disabledTextInput">Ticket Booked Date :</label>
                  {{form.BookedDate}}
                </div>
                </fieldset>

            
            {{form.event_id}}
            {% endif %}
            <!-- {{form.seats}}
            {{form.BookedDate}}
            {{form.event_id}}
         -->
    
        <br />
        <br />
        <input type="reset" value="Cancel" class="btn btn-secondary">
        <input type="submit" value=" Book " class="btn btn-success">
        <br />
    </form>
    <br />



    {% endblock %}
</body>

</html>