{% extends 'base.html' %}
{% block title %} Evyfy | Event list {% endblock %}
{% block content %}


<h1>Event List</h1>
<br />

{% for event in event_list %}
<ul>
    <li>
        <a href="{% url 'event-detail' event.pk %}">
            <h3>{{event.name}}</h3>
        </a>
        <table>
            <tr>
                <th>Type of event :</th>
                <td>{{event.genre}}</td>
            </tr>

            <tr>
                <th>Event Date :</th>
                <td>{{event.eventDate}}</td>
            </tr>

            <tr>
                <th>Description :</th>
                <td>{{event.description}}</td>
            </tr>

        </table>
    </li>
</ul>
{% endfor %}


{% endblock %}