{% extends 'customadmin/base_section.html' %}
{% block title %} Evyfy | Update Artist {% endblock %}
{% block content %}


<br/>
<h2>Update Artist</h2>
<nbnps></nbnps>
<form method="POST">

    {% csrf_token %}
    {{ form.as_p }}
    
    <div class="modal-footer">
        <a href="{% url 'customadmin:admin-artist-view' %}" class="btn-delete btn btn-secondary"><i class="fa fa-backward"> Back </i></a>
        
        <button class="btn btn-primary" type="submit"><i class="fa fa-check"> Save </i></button>
        
      
</div>
<br/>
</form>
<br/>

{% endblock %}

