{% load static %}
{% load i18n %}
{% load admin_extras %}
{% load misc_filters %}

<header class="list-header card mb-4">
  <div class="card-body clearfix">
    <div class="float-left">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-subtitle text-muted">{{ subtitle }}</p>
    </div>



    <div class="float-right lead">
      {% if user.is_authenticated %}
      
      {% if opts.verbose_name_plural == 'Events' %}
      <a href="{% url 'customadmin:add-event' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> New Event</a>

      {% elif opts.verbose_name_plural == 'Artists' %}
      <a href="{% url 'customadmin:add-artist' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> New Artist</a>
      
      {% else %}
      <a href="{% url 'customadmin:user-create' %}" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> New User</a>

      {% endif %}
      {% endif %}
    </div>
    
  </div>
</header>
<!-- /card -->
